body {
/*  background-color: #4fb7cb;*/
background-color: hsl(200, 40%, 60%);
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Navigation */
nav {
  background-color: #1b3948;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
nav a {
  color:#fad0d3;
  padding: 0 12px;
}

  /* Here is our problem for the image */
.image-box {
  width: 500px;
}
img {
  width: 100%;
}
.logo {
  width: 100px;
  display: flex;
  align-items: center;
}

.logo:hover, nav a:hover {
  opacity: 0.5;
}
/* fonts */

h1 {
  font-family: 'Gluten', cursive;
  font-weight: 600;
  font-size: clamp(3rem, 10vw, 20rem);
  color: rgb(229, 97, 102)
}
p, a { 
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.4rem, 10vw, 1.8rem);
  min-width: 10ch;
}
p {
  color: #1b3948;
}
a {
  text-decoration: none;
}

.btn {
  background-color: #e56166;
  padding: 1rem 1.5rem;
  text-align: center;
  width: max-content;
  border-radius: 10px;
  color: inherit;
  display: block;
}
.btn:hover {
  background-color: #fad0d3;
  box-shadow: 10px 5px 5px #1b3948;
}

